fastapi
uvicorn
pydantic
python-multipart
groq
python-dotenv
pillow
cairosvg
svgwrite
opencv-python
numpy
requests
python-jose
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
loguru
sqlalchemy
beautifulsoup4
colorthief
replicate
webcolors
sendgrid
cloudinary
gunicorn
rembg[cpu]
onnxruntime