fastapi
uvicorn
pydantic
python-multipart
groq
python-dotenv
pillow
cairosvg
svgwrite
rembg
opencv-python
numpy
requests
python-jose
passlib[bcrypt]
loguru
sqlalchemy
beautifulsoup4
colorthief
replicate
webcolors
sendgrid
cloudinary
gunicorn